footer {
  background-color: #320d3e;
}
.footer {
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  color: aliceblue;
}
a {
  color: aliceblue;
  text-decoration: none;
}

.footer__school-logo {
  width: 90px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(327deg) brightness(102%)
  contrast(101%);
}
.footer__dev {
  display: flex;
  align-items: center;
}
.footer__git {
  width: 22px;
  margin-right: 5px;
}