<footer>
  <div class="container footer">
    <div class="footer__school">
      <a class="footer__school-link" target="_blank" href="https://rs.school/js/"
        ><img class="footer__school-logo" src="../../assets/svg/rs_school.svg" alt=""
      /></a>
    </div>
    <div class="footer__dev">
      <a class="footer__dev-link" target="_blank" href="https://github.com/lisaliza6428">
        <img class="footer__git" src="../../assets/svg/github.svg" alt=""
      /></a>

      <a class="footer__dev-link" target="_blank" href="https://github.com/lisaliza6428">Elizaveta Ivanushenko</a>
    </div>
    <div class="footer__year">2022</div>
  </div>
</footer>
