html {
  overflow-y: scroll;
}
html,
body {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.container {
  // max-width: 1400px;
  padding: 0 36px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1400px;
  padding: 36px 20px;
  margin: 0 auto;
}

//Styles for modal windows (must be global)

.editProfileForm {
  mat-dialog-container {
    background-color: white !important;
    width: 460px !important;
    height: auto !important;
    border-radius: 10px !important;
    text-align: left;
  }
}

mat-dialog-container {
  background-color: #151415 !important;
  border-radius: 10px !important;
  text-align: left !important;
}

.mat-menu-panel {
  background: rgba(41, 40, 40, 0.95) !important;
  opacity: 1 !important;
  width:500px !important;
}

.cdk-overlay-connected-position-bounding-box {
  left: 0 !important;
}
mat-button {
  padding: 20px;
}

//pagination
.ngx-pagination {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center;
}

.ngx-pagination a {
  width: 36px !important;
  height: 36px !important;
  background: white !important;
  color: black !important;
  border: 2px solid #320d3e !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid white;
  border-radius: 50% !important;
  margin: 0 5px;
  &:hover {
    border: 2px solid #ffbca2;
  }
}

.ngx-pagination .current {
  width: 36px !important;
  height: 36px !important;
  background-color: #320d3e !important;
  color: white !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 5px;
}

.ngx-pagination .disabled {
  color: #cacaca !important;
  border: 2px solid grey;
  border-radius: 50% !important;
  margin: 0 5px;
  width: 36px !important;
  height: 36px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 5px;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  content: "<<" !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0rem !important;
  padding: 0rem !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  content: ">>" !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 36px !important;
  height: 36px !important;
  margin: 0rem !important;
  padding: 0rem !important;
}