.panel {
  width: 100%;
  padding: 15px;
  //background-color: #320d3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.controls {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.chapter-select {
  height: 34px;
  width: 220px;
  display: inline-block;
  border-radius: 10px;
  border: 2px solid #320d3e;
  font-size: 17px;
  padding: 5px 10px;
}

.game {
  display: flex;
  color:  #320d3e;
  column-gap: 10px;
  * {
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    width: 150px;
    height: 34px;
    border: 2px solid  #320d3e;
    border-radius: 10px;
    text-decoration: none;
    color:  #320d3e;
    text-align: center;
  }
}