<div class="panel">
  <div class="controls">
    <select class="chapter-select" (change)="handleSelectEvent($event)" [selectedIndex]="apiService.currentGroup">
      <option value="0">А1 - Beginner</option>
      <option value="1">A2 - Elementary</option>
      <option value="2">B1 - Intermediate</option>
      <option value="3">B2 - Upper Intermediate</option>
      <option value="4">C1 - Advanced</option>
      <option value="5">C2 - Proficiency</option>
      <option value="6">Сложные слова</option>
    </select>
    <div class="pagination" *ngIf="apiService.currentGroup !== 6">
      <pagination-controls
        [maxSize]="7"
        [previousLabel]="''"
        [nextLabel]="''"
        (pageChange)="pageChangeEvent($event)"
        align="center"
      ></pagination-controls>
    </div>
  </div>
  <div class="game">
    <a class="game__link" routerLink="/games">Игра "Спринт"</a>
    <a class="game__link" routerLink="/games">Игра "Аудиовызов"</a>
  </div>
</div>
