.panel {
  width: 100%;
  padding: 15px;
  background-color: #320d3e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
.controls {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.chapter-select {
  height: 30px;
  width: 130px;
  display: inline-block;
}

.game {
  display: flex;
  column-gap: 10px;
  * {
    display: inline-block;
    padding: 5px;
    width: 150px;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
  }
}