
.button {
  display: flex;
}
.app-title {
  font-size: 26px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu-button {
  margin-right: 10px;
  min-width: 0;
  line-height: normal;
  color: white;

}

.menu__item {
  margin: 0 50px;
  color: #ffffff;
  font-size: 20px;
}