.card {
  max-width: 500px;
  min-height: 640px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-content: center;
  text-align: justify;
  box-shadow: 4px 4px 34px 4px rgba(34, 60, 80, 0.2);
}
.card-image {
  object-fit: cover;
  width: 500px;
  height: 330px;
  border-radius: 10px 10px 0 0;
  @media screen and (max-width: 1000px) {
  }

}
.card-content {
  padding: 10px 20px;

}

.word-card {
  display: flex;
  border: 1px solid #400255;
  margin: 10px 0;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: auto;
    column-gap: 0;
  }
}


.word__subtitle {
  margin-top: 5px;
  font-weight: 700;
  font-size: 20px;
}

.word {
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    margin: 0 7px;
  }
  @media screen and (max-width: 650px) {
/*     flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start; */
  }
  .word__sound {
    width: 40px;
    height: 40px;
    background-image: url("../../../../assets/svg/headphones.svg");
    background-color: #fff;
    border: none;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s;
    &.active {
      transition: 0.5s;
      transform: scale(1.2);
      z-index: 0;
    }
  } 
  .word__word {
    font-size: 22px;
    font-weight: bold;
  }
  .word__transcription {
    color: #aa06e0;
  }
  .word__statistics {
    width: 26px;
    filter: brightness(0) saturate(100%) invert(10%) sepia(33%) saturate(6988%) hue-rotate(277deg) brightness(84%) contrast(111%);
  }
}

.none {
  display: none;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  gap: 10px;
  * {
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    border: 1px solid #400255;
    background-color: #400255;
    border-radius: 10px;
    width: 200px;
    padding: 8px 0;
    font-size: 15px;
    margin: 10px 0;
    cursor: pointer;
  }
  @media screen and (max-width: 500px) {
    flex-wrap: wrap;
    gap: 0px;
    * {
      width: 100%;
    }
  }
  .difficult {
    background-color: #7986f8;
    color: #ffffff;
  }
  .studied {
    background-color: #df89fc;
    color: #ffffff;
  }
}